.top-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(74, 156, 250);
}
.top-bar ul{
    margin-top: 0;
    list-style: none;
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}
.top-bar li{
    text-decoration: none;
    font-size: 30px;
    padding: 25px;
    font-family: 'Bangers', cursive;
    color: black;
}
.top-bar ul a{
    text-decoration: none;
}
.top-bar img{
    margin-left: 20px;
}
