.add-note h1{
    font-family: RocknRoll One;
}
.add-note input{
    height: 50px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    font-family: RocknRoll One;
    font-size: 20px;
    font-weight: bold;
    margin-top: 70px;
}
.add-note textarea{
    text-align: center;
    border-radius: 10px;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.09);
    border-color: rgb(10, 10, 10);
    border-width: medium;
    font-weight: bold;
}
.add-note .submit-bt{
    height: 40px;
    width: 150px;
    background-color: rgba(243, 235, 235, 1);
}
#myVideo{
    width: 100%;
    height: 85.5%;
    position: absolute;
    object-fit: cover;
    transform: translate(-50%,0%);
    z-index: -1;
}